.ui {
  &__button {
    @include font('Montserrat', normal, 500, 24px, #fff);
    padding: 11px 77px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid $primary-one;
    &--primary {
      background: $primary-one;
    }
    &--secondary {
      background: transparent;
      color: $primary-one;
    }
    &:not(:disabled):hover {
      background: #2eacb0;
      box-shadow: 0px 0px 20px #245c5f;
      color: #fff;
    }
    &:focus {
      background: #2eacb0;
      color: #fff;
    }
    &:disabled {
      opacity: 0.3;
      cursor: unset;
    }
  }
  &__input {
    @include font('Stolzl', normal, 400, none, #fff);
    padding: 16px 30px;
    background: linear-gradient(
      90.75deg,
      #1c1c1c 0.65%,
      rgba(27, 27, 27, 0.4) 107.06%
    );
    border-radius: 10px;
    border: 1.5px solid;
    border-color: #434343a8;
    &:placeholder {
      color: #707070;
    }
    &:hover {
      color: #c0c0c0;
      border-color: #505050;
    }
    &:focus {
      color: #fff;
      border-color: $primary-one;
    }
    &:invalid {
      border-color: #d34b4ba8;
      color: #d34b4b;
    }
  }
  &__select {
    position: relative;
    display: flex;
    gap: 10px;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      position: absolute;
      height: 20px;
      top: 100%;
      right: 0;
      left: 0;
    }
    &-dropdown {
      min-width: 188px;
      position: absolute;
      top: calc(100% + 20px);
      right: 0;
      background: rgba(32, 32, 32, 0.4);
      border: 1px solid #313131;
      border-radius: 14px;
      padding: 25px;
      display: flex;
      opacity: 0;
      transform: scale(0);
      flex-direction: column;
      gap: 30px;
      &-item {
        position: relative;
        @include font('Stolzl', normal, 500, none, #fff);
        @include fontMaxAndMin(15, 15);
        &:hover {
          color: $primary-one;
        }
        &::before {
          content: '';
          position: absolute;
          top: calc(100% + 15px);
          right: 0;
          left: 0;
          height: 1px;
          background-color: #313131;
        }
        &:last-child {
          &::before {
            content: none;
          }
        }
      }
    }
    &:hover {
      & > span {
        transform: rotate(180deg);
        & * {
          fill: $primary-one;
        }
      }
      & .ui__select-dropdown {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__fixed-media {
    position: fixed;
    right: 60px;
    bottom: 50px;
    z-index: 110;
    display: flex;
    gap: 20px;
    &-button {
      position: relative;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background-color: #444;
      display: grid;
      place-items: center;
      cursor: pointer;
      @media (max-width: 769px) {
        width: 40px;
        height: 40px;
        & svg {
          width: 22px;
          height: 22px;
        }
      }
      &::before,
      &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        transform: scale(0);
      }
      &::before {
        width: 62px;
        height: 62px;
        background-color: inherit;
        z-index: -1;
        opacity: 0.3;
      }
      &::after {
        width: 70px;
        height: 70px;
        background-color: inherit;
        z-index: -2;
        transition-duration: 0.5s;
        opacity: 0.6;
      }
      &--telegram {
        background-color: #34aadf;
      }
      &--whatsapp {
        background-color: #43d854;
      }
      &:hover {
        &::before,
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .ui {
    &__fixed-media {
      &-button {
        &::before {
          width: 52px;
          height: 52px;
        }
        &::after {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
