.ui {
  &__button {
    //Временный стиль
    margin: 40px;
    //Основные стили
    @include font('Montserrat', normal, 500, 16px, 24px, #fff);
    padding: 11px 77px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #33b7bc;
    &--primary {
      background: #33b7bc;
    }
    &--secondary {
      background: transparent;
      color: #33b7bc;
    }
    &:not(:disabled):hover {
      background: #2eacb0;
      box-shadow: 0px 0px 20px #245c5f;
      color: #fff;
    }
    &:focus {
      background: #2eacb0;
      color: #fff;
    }
    &:disabled {
      opacity: 0.3;
      cursor: unset;
    }
  }
  &__input {
  }
}
