*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background: #2b2b2b;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

input,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container-xxl {
  max-width: 1840px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.ui__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding: 11px 77px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #33b7bc;
}
.ui__button--primary {
  background: #33b7bc;
}
.ui__button--secondary {
  background: transparent;
  color: #33b7bc;
}
.ui__button:not(:disabled):hover {
  background: #2eacb0;
  box-shadow: 0px 0px 20px #245c5f;
  color: #fff;
}
.ui__button:focus {
  background: #2eacb0;
  color: #fff;
}
.ui__button:disabled {
  opacity: 0.3;
  cursor: unset;
}
.ui__input {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  line-height: none;
  color: #fff;
  padding: 16px 30px;
  background: linear-gradient(90.75deg, #1c1c1c 0.65%, rgba(27, 27, 27, 0.4) 107.06%);
  border-radius: 10px;
  border: 1.5px solid;
  border-color: rgba(67, 67, 67, 0.6588235294);
}
.ui__input:placeholder {
  color: #707070;
}
.ui__input:hover {
  color: #c0c0c0;
  border-color: #505050;
}
.ui__input:focus {
  color: #fff;
  border-color: #33b7bc;
}
.ui__input:invalid {
  border-color: rgba(211, 75, 75, 0.6588235294);
  color: #d34b4b;
}
.ui__select {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.ui__select::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 20px;
  top: 100%;
  right: 0;
  left: 0;
}
.ui__select-dropdown {
  min-width: 188px;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: rgba(32, 32, 32, 0.4);
  border: 1px solid #313131;
  border-radius: 14px;
  padding: 25px;
  display: flex;
  opacity: 0;
  transform: scale(0);
  flex-direction: column;
  gap: 30px;
}
.ui__select-dropdown-item {
  position: relative;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  line-height: none;
  color: #fff;
  font-size: calc(15px + 0 * (100vw - 320px) / 1600);
}
.ui__select-dropdown-item:hover {
  color: #33b7bc;
}
.ui__select-dropdown-item::before {
  content: "";
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  left: 0;
  height: 1px;
  background-color: #313131;
}
.ui__select-dropdown-item:last-child::before {
  content: none;
}
.ui__select:hover > span {
  transform: rotate(180deg);
}
.ui__select:hover > span * {
  fill: #33b7bc;
}
.ui__select:hover .ui__select-dropdown {
  opacity: 1;
  transform: scale(1);
}
.ui__fixed-media {
  position: fixed;
  right: 60px;
  bottom: 50px;
  z-index: 110;
  display: flex;
  gap: 20px;
}
.ui__fixed-media-button {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #444;
  display: grid;
  place-items: center;
  cursor: pointer;
}
@media (max-width: 769px) {
  .ui__fixed-media-button {
    width: 40px;
    height: 40px;
  }
  .ui__fixed-media-button svg {
    width: 22px;
    height: 22px;
  }
}
.ui__fixed-media-button::before, .ui__fixed-media-button::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transform: scale(0);
}
.ui__fixed-media-button::before {
  width: 62px;
  height: 62px;
  background-color: inherit;
  z-index: -1;
  opacity: 0.3;
}
.ui__fixed-media-button::after {
  width: 70px;
  height: 70px;
  background-color: inherit;
  z-index: -2;
  transition-duration: 0.5s;
  opacity: 0.6;
}
.ui__fixed-media-button--telegram {
  background-color: #34aadf;
}
.ui__fixed-media-button--whatsapp {
  background-color: #43d854;
}
.ui__fixed-media-button:hover::before, .ui__fixed-media-button:hover::after {
  transform: scale(1);
}

@media (max-width: 769px) {
  .ui__fixed-media-button::before {
    width: 52px;
    height: 52px;
  }
  .ui__fixed-media-button::after {
    width: 60px;
    height: 60px;
  }
}
.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 40px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  gap: 58px;
}
.header__logo {
  position: relative;
  max-width: 147px;
  z-index: 110;
  margin: 0 25px;
  text-align: center;
}
.header__logo svg:nth-child(2) {
  margin: 22px 0 15px;
}
.header__burger {
  position: relative;
  width: 71px;
  height: 41px;
  z-index: 110;
  cursor: pointer;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 60px;
  transform: skewX(-250deg);
}
.header__burger::before {
  top: 15px;
  right: 0;
}
.header__burger::after {
  left: 0;
  bottom: 15px;
}
.header__burger:not(.header__burger--active):hover::before, .header__burger:not(.header__burger--active):hover::after {
  background-color: #33b7bc;
}
.header__burger:not(.header__burger--active):hover::before {
  right: unset;
  left: 0;
}
.header__burger:not(.header__burger--active):hover::after {
  left: unset;
  right: 0;
}
.header__burger--active::before, .header__burger--active::after {
  left: unset;
  right: unset;
  height: 2px;
  width: 65px;
  top: 50%;
}
.header__burger--active::before {
  transform: rotate(-45deg);
}
.header__burger--active::after {
  transform: rotate(45deg);
}
.header__nav {
  display: flex;
  gap: 58px;
}
.header__nav-link {
  position: relative;
  text-align: center;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  line-height: none;
  color: #d7d7d7;
  font-size: calc(15px + 0 * (100vw - 320px) / 1600);
}
.header__nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background-color: #33b7bc;
  width: 0;
  transform: skewX(-10deg);
}
.header__nav-link:hover {
  color: #fff;
}
.header__nav-link:hover::before {
  width: 100%;
}
.header__handlers {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header__handlers-item {
  white-space: nowrap;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  line-height: none;
  color: #fff;
  font-size: calc(13px + 3 * (100vw - 320px) / 1600);
}
.header__menu {
  position: fixed;
  top: -150vh;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60.07deg, rgba(22, 21, 22, 0.98) 43.23%, rgba(22, 21, 22, 0.75) 63.47%), url("../images/header/menuBg.png") left/cover no-repeat;
}
.header__menu--active {
  top: 0;
  bottom: 0;
}
.header__menu-content {
  padding: 268px 218px;
  height: 100%;
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: calc(100vh - 532px);
  min-height: 80px;
  height: 100%;
  gap: 35px 60px;
  overflow-x: scroll;
  padding: 20px 0;
  width: 100%;
}
.header__menu-list-link {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  line-height: none;
  color: #76828c;
  font-size: calc(20px + 34 * (100vw - 320px) / 1600);
}
.header__menu-list-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  background-color: #33b7bc;
  width: 0;
  transform: skewX(-10deg);
}
.header__menu-list-link:hover {
  color: #fff;
}
.header__menu-list-link:hover::before {
  width: 100%;
}
.header__menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 50px 200px 50px 218px;
  border-top: 1px solid #272727;
  color: #fff;
}
.header__menu-footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-address {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  line-height: none;
  color: #76828c;
  font-size: calc(24px + 0 * (100vw - 320px) / 1600);
}
.header__menu-phone {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  line-height: none;
  color: #fff;
  font-size: calc(20px + 14 * (100vw - 320px) / 1600);
}

@media (max-width: 1241px) {
  .header__menu-content, .header__menu-footer {
    padding-inline: 0;
  }
  .header__menu-list {
    gap: 60px;
  }
  .header__menu-address {
    display: none;
  }
}
@media (max-width: 1101px) {
  .header__nav {
    display: none;
  }
  .header__handlers-item:nth-child(1), .header__handlers-item:nth-child(2) {
    display: none;
  }
  .header__logo svg:nth-child(2), .header__logo svg:nth-child(3) {
    display: none;
  }
}
@media (max-width: 769px) {
  .header__menu-content {
    padding: 177px 0 232px;
  }
  .header__menu-list {
    max-height: calc(100vh - 310px);
  }
}
.intro {
  background: linear-gradient(180deg, rgba(22, 21, 22, 0.9) -7.87%, rgba(22, 21, 22, 0.6) 100%), url("../images/intro/bg.png") center/cover no-repeat;
}
.intro__content {
  height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  gap: 25px;
}
.intro__title {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  line-height: none;
  color: #fff;
  font-size: calc(60px + 60 * (100vw - 320px) / 1600);
}
.intro__subtitle {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  line-height: none;
  color: #fff;
  font-size: calc(17px + 15 * (100vw - 320px) / 1600);
}

.ask {
  padding-top: 130px;
}
.ask__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.ask__map {
  width: 55%;
}
.ask__map iframe {
  width: 100%;
  height: 100%;
}
.ask__form {
  width: 45%;
  padding: 6px 60px;
}
.ask__form-title {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 500;
  line-height: none;
  color: #fff;
  font-size: calc(40px + 30 * (100vw - 320px) / 1600);
}
.ask__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 70px 0 43px;
}
.ask__form-input {
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
}
.ask__form-button {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  line-height: none;
  color: #fff;
  font-size: calc(15px + 3 * (100vw - 320px) / 1600);
  padding: 26px 65px;
}/*# sourceMappingURL=style.css.map */