*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background: #2b2b2b;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

//Base styles
@import '_mixins.scss';
@import '_ui-kit.scss';

//Blocks
@import '_header.scss';
